body{
    margin: 0;
    border: 0;
}
.div8{
    margin-left: 8px;
    margin-right: 8px;
}
.div9{
    height: 100%;}
.div10{
    background-color: #333333;
    
}
.inp1{
    width: 270px;
}
.btn7{
    width: 100px;
}
.div11{
    background-color: #333333;
    
}
.bnk-icons{
    width: 100%;
}
.img5{
    height: 40px;
}
.im5{
    height: 20px;
    width: 20px;
}